{% extends './auth/base_auth.html.twig' %}

{% block title %}
	Tasklinker - Se connecter
{% endblock %}

{% block body %}
	<div class="welcome-block-signin">
		<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
		<form method="post">
			{% if error %}
				<div class="alert-login">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<label for="username">E-mail</label>
			<input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
			<label for="password">Mot de passe</label>
			<input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="auth-button" type="submit">
				Continuer
			</button>
		</form>
		<p class="auth-redirection-link">
			Pas de compte ?
			<a href="{{ path('app_sign_up') }}">S´inscrire</a>
		</p>
	</div>
{% endblock %}