{% extends './auth/base_auth.html.twig' %}

{% block title %}
	Tasklinker - S'inscrire
{% endblock %}

{% block body %}
	<div class="welcome-block-signup">
		<h1>S'inscrire</h1>
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="auth-button">Continuer</button>
		{{ form_end(form) }}
		<a href="{{ path('app_sign_in') }}">
			<p class="auth-redirection-link">Vous avez déjà un compte ?</p>
		</a>
	</div>
{% endblock %}